@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root
{
    --clr: #222327
}
body
{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #1071AD;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
nav
{
    height: 70px;
    width: 100%;
    background-color: #fff;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
.direita
{
    height: 70px;
    width: 100px;

}
.centro
{
    height: 70px;
    width: 100px;

}
.esquerda
{
    width: 70px;
    width: 100px;

}
.quadrado
{
    height: 600px;
    width: 360px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}
.quadrado1
{
    height: 500px;
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    justify-items: center;
}
.quadrado2
{
    height: 500px;
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    justify-items: center;

}
.quadrados  
{
    width: 125px;
    height: 125px;
    background-color: #fff;
    margin: none;
}
.navegacao
{
    width: 360px;
    height: 70px;
    background-color: #fff;
    position: relative;    
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    
}
.navegacao ul
{
    display: flex;
    width: 300px;
}
.navegacao ul li
{
    position: relative;
    list-style: none;
    width: 100px;
    height: 60px;
    z-index: 1;
}
.navegacao ul li a
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
.navegacao ul li a .icon
{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}
.navegacao ul li.active a .icon
{
    transform: translateY(-35px);
}
.navegacao ul li a .text
{
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}
.navegacao ul li.active a .text
{
    opacity: 1;
    transform: translateY(10px);
}
.indicator
{
    position: absolute;
    width: 75px;
    height: 75px;
    top: -50%;
    background: #fff;
    border-radius: 50%;
    border: 6px solid #1071AD;
    transition: 0.5s;
}
.indicator::before
{
    content: '';
    position: absolute;
    top: 46%;
    left: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-right-radius: 50px;
    box-shadow: 0px -12px 0 0 #1071AD;
}
.indicator::after
{
    content: '';
    position: absolute;
    top: 46%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 50px;
    box-shadow: -1px -12px 0 0 #1071AD;
}
.navegacao ul li:nth-child(1).active ~ .indicator
{
    transform: translateX(calc(75px * 0));
}
.navegacao ul li:nth-child(2).active ~ .indicator
{
    transform: translateX(calc(75px * 1));
}
.navegacao ul li:nth-child(3).active ~ .indicator
{
    transform: translateX(calc(75px * 2));
}
.navegacao ul li:nth-child(4).active ~ .indicator
{
    transform: translateX(calc(75px * 3));
}
